@page
@model BookStoreApp.Pages.Importer.ImportPage.ImportModel

@if (@Model.Role == "2")
{
    <div>

 
        <table border="1" class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Avatar</th>
                <th>Quantity</th>
                <th>Delete</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.cart)
            {
                <tr>
                    <td>@item.Book.Id</td>
                    <td>@item.Book.Name</td>
                    <td><img src="@item.Book.Avatar" width="120" height="100" /></td>
                    <td>@item.Quantity</td>
                    <td>
                        <a asp-page="import" asp-page-handler="delete" asp-route-id="@item.Book.Id">X</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-page="import" asp-page-handler="increase" asp-route-id="@item.Book.Id"><i class="fas fa-fw fa-plus"></i></a>
                        <a class="btn btn-outline-secondary" asp-page="import" asp-page-handler="decrease" asp-route-id="@item.Book.Id"><i class="fas fa-fw fa-minus"></i></a>
                    </td>
                </tr>
            }
        </table>

        <form method="post" style="margin-left: 1500px">
            <button class="btn btn-primary btn-lg">Import</button>
        </form>
        <br/>
        <a asp-page="index" class="btn btn-primary" style="margin-left: -1600px; padding: 10px; text-align:center;">Continue Import</a>
    </div>
}
else
{
    <p>You do not have permission to access</p>
}