@page
@model BookStoreApp.Pages.Seller.BookViewModel

@if (Model.Role == "3")
{

    <section class="product_section layout_padding">
        <div class="justify-content-start">
             <div style="margin-bottom: 10px;">
                <h1>Book In Store</h1>
                <div class="row justify-content-start">
                    <form class="form-inline" method="post">
                        <div class="form-group">
                            <input asp-for="SearchString" type="text" style="margin-right: 30px; padding: 5px; width: 650px;" placeholder="Search by Book,Amount ..." />
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row justify-content-start">
                @foreach (var item in Model.BookInStore)
                {
                    <div class="col-3 d-flex align-items-stretch">
                        <div class="card" style="width: 300px; margin-bottom: 5px">
                            <div>
                                <img class="card-img-top" src="@item.Book.Avatar" alt="Card image cap" style=" width : 280px; height : 320px; justify-content: center;">
                            </div>
             
                            <div class="card-body">
                            <p class="card-title">@Html.DisplayFor(modelItem => item.Book.Name)</p>
                            <p class="card-text">Author: @Html.DisplayFor(modelItem => item.Book.Author)</p>
                            <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Amount)</p>
                            <b class="card-text">Price: @Html.DisplayFor(modelItem => item.Book.Price)</b>
                            </div>
                            <div style="text-align: center; margin-bottom:20px;" class="card-footer">
                                <a class="btn btn-primary" asp-page="./CartSeller" asp-route-id="@item.Book.Id">
                                    Add To Cart
                                </a>
                            </div>
                            
                        </div>
                    
                    </div>
             
                }
            </div>
            <div id="pagination-container"></div>
        </div>
    </section>
}