@page
@model BookStoreApp.Pages.Admin.BookInStorePage.IndexModel
@{
}
@if(@Model.Role == "1")
{
    if(@Model.Msg != null)
    {
        <p style="color: red">@Model.Msg</p>
    }
    <h1>Book In Store</h1>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.BookInStore[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookInStore[0].Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookInStore[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="list-wrapper">
@foreach (var item in Model.BookInStore) {
        <tr class="list-item">
            
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<div id="pagination-container"></div>
}
else{
    Response.Redirect("/Login/LoginPage");
}