@page
@model BookStoreApp.Pages.Admin.PublisherPage.IndexModel
@{
}
@if (@Model.Role == "1" || @Model.Role == "3")
{
    if(@Model.Msg != null)
    {
        <p style="color: red">@Model.Msg</p>
    }

    <div>
        <h1>Publisher</h1>
        <div class="row justify-content-center" style="margin-left: 1px;">
            <form class="form-inline">
                <div class="form-group">
                    <input asp-for="SearchString" type="text" style="margin-right: 30px; padding: 5px; width: 650px;" placeholder="Search by Name ..." />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="list-wrapper">
@foreach (var item in Model.Publisher) {
        <tr class="list-item">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            @if (Model.Role != "3")
            {
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class='fas fa-pen'></i></a> 
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class='fas fa-info'></i></a> 
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class='fas fa-trash'></i></a>
                </td>
            }
         
        </tr>
}
    </tbody>
</table>
        <p>
        <a class="btn btn-primary" asp-page="Create">Create New</a>
        </p>

    <div id="pagination-container"></div>
}
else
{
    Response.Redirect("/Login/LoginPage");
}