@page
@model BookStoreApp.Pages.BookDetailPageModel
@{
    ViewData["Title"] = "Book Detail page";
}
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style2.css">
    <div class="main-wrapper">
        <div class="container">
            <div class="product-div">
                <div class="product-div-left">
                        <img src="@Model.Book.Avatar" alt="watch">
                    
                </div>
                <div class="product-div-right">
                    <span class="product-name">@Model.Book.Name</span>
                    <span class="product-price">@Model.Book.Price VNĐ</span>
                    <p class="product-description">Categories: @Model.Book.Category.Description</p>
                    <div>
                    <ul>
                        <li style="text-align:justify">ISBN: @Model.Book.Isbn</li>
                        <li style="text-align:justify">Author: @Model.Book.Author</li>
                        <li style="text-align:justify">Release Year: @Model.Book.ReleaseYear</li>
                        <li style="text-align:justify">Version: @Model.Book.Version</li>
                        <li style="text-align:justify">Amount: @Model.Book.Amount</li>
                        <li style="text-align:justify">Category Id: @Model.Book.CategoryId</li>
                        <li style="text-align:justify">Publisher Id: @Model.Book.PublisherId</li>
                    </ul>
                    </div>
                    <div class="btn-groups">
                        <button type="button" class="add-cart-btn"><i class="fas fa-shopping-cart" asp-page="./Cart" asp-route-id="@Model.Book.Id"></i>Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <footer class="bg-dark text-center text-white">
            <div class="container p-4 pb-0">
                <section class="">
                    <form action="">
                        <div class="row d-flex justify-content-center">
                            <div class="col-auto">
                                <p class="pt-2">
                                    <strong>Sign up for our newsletter</strong>
                                </p>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="form5Example2" class="form-control" />
                                    <label class="form-label" for="form5Example2">Email address</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-outline-light mb-4">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Powered by Team J.F.F
            </div>
        </footer>
        

    <script src="~/js/script2.js"></script>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/custom.js"></script>
